{
	admin off
}

:5000 {
	handle_path /docs/* {
		root * /etc/caddy/docs
		file_server
	}

	handle_path /coverage/* {
		root * /etc/caddy/coverage
		file_server
	}

	@notDocs {
		not path /docs/*
		not path /coverage/*
	}

	redir @notDocs /docs/latest{uri} 308
}
